{% extends "base.html" %}
{% block contents %}
    <h1>編集画面</h1>
    <hr>
    <form action="#" method="post">
        <p>用語：<br>
            <input type="text" name="keyword" size="15" value="{{question.keyword}}"></p>

            <p>説明：<br>
            <textarea name="explain">{{question.explain}}</textarea >

            <p>章選択：
            <select name="chapter" size="1">
                <option value="default">--選択してください--</option>
                {% for index in range(0,20) %}
                <option value="{{ loop.index }}">{{ loop.index }}</option>
                {% endfor %}
            </select>
            現在選択値 : {{question.chapter}}

            <p>その他：<br>
            <textarea name="comment">{{question.comment}}</textarea >
            </p>
            <button type="summit" name="update" value="{{question.id}}">更新</button>
    </form>
    <a href="{{ url_for('q_list') }}">戻る</a>
    <a href="{{ url_for('top') }}">トップへ戻る</a>
{% endblock %}