{% extends "base.html" %}
{% block contents %}
    <h1 class="text-blue-300">FE試験対策</h1>
    <hr>
    <form method="post" action="">
        <div class="mb-3">
            <input type="checkbox" id="scales" name="scales" checked>
            <label for="scales">一問一答</label>
        </div>
        <div class="mb-3">
            <button name="chenge_mode" value="chenge_mode"
            class="btn btn-outline-secondary">
                {{ test_mode }}
            </button>
        </div>
        <div class="mb-3">
            <details>
                <summary>
                    <span class="border border-dark rounded p-1">試験範囲選択</span>
                </summary>
                <div class="py-2">
                    <label v-on:click="AllChoise"
                    class="btn btn-dark">全選択</label>
                    <label v-on:click="AllRelease"
                    class="btn btn-secondary">全解除</label>
                </div>
                {% for i in range(0,20) %}
                <div>
                    <input type="checkbox"
                    id="section_{{ loop.index }}"
                    name="section_{{ loop.index }}"
                    v-model="checked[{{ i }}]">
                    <label for="section">第{{ loop.index }}章</label>
                </div>
                {% endfor %}
            </details>
        </div>
        <!-- <button type="submit" name="start_btn" value="start">Start</button> -->
    </form>
    <div class="mt-2">
        <a href="{{url_for('test')}}"
            class="btn btn-primary px-5">
            Start
        </a>
        <a href="{{url_for('registration')}}"
        class="btn btn-outline-primary p-1">
            登録
        </a>
        <a href="{{url_for('q_list')}}"
        class="btn btn-outline-primary p-1">

            一覧
        </a>
        <hr>
        <p><small>参照DB:{{ dbStr }}</small></p>
    </div>
{% endblock %}