{% extends "base.html" %}
{% block contents %}
{% set testBool = true %}
    <h1>テスト:{{test_mode}}</h1>
    <hr>
    <form action="#" method="post">
        {% if test_mode == "用語→説明" %}
            <p>Q.</p>
            <p>{{ target.keyword }}</p>
            <hr>
            <div v-if="toggle">
                <img src="../resource/secretBox.png" width="360" height="120" v-on:click="toggleBtn">
            </div>
            <section v-else>
                <div>
                    <p>A.</p>
                    <p>{{ target.explain }}</p>
                    <p>コメント：{{ target.comment }}</p>
                    <button type="summit" name="correct" value="{{target.id}}">正解</button>
                    <button type="summit" name="incorrect" value="{{target.id}}">不正解</button>
                </div>
            </section>
        {% else %}
            <p>Q.</p>
            <p>{{ target.explain }}</p>
            <hr>
            <div v-if="toggle">
                <img src="../resource/secretBox.png" width="480" height="160" v-on:click="toggleBtn">
            </div>
            <section v-else>
                <div>
                    <p>A.</p>
                    <p>{{ target.keyword }}</p>
                    <p>コメント：{{ target.comment }}</p>
                    <button type="summit" name="correct" value="{{target.id}}">正解</button>
                    <button type="summit" name="incorrect" value="{{target.id}}">不正解</button>
                </div>
            </section>
        {% endif %}
    </form>

    <a href="{{ url_for('top') }}">トップへ戻る</a>
    <p>現在選択している章　: {{current_selected_chapter}}</p>
{% endblock %}